@import "../../base/index";

.pg-cover {
    height: 100%;
    position: relative;
    background-color: $black;

    .pg-cover-bg {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;

        .cover-content {
            margin: auto;
            text-align: center;

            h2 {
                color: $secondary;

                @include font-size($xxxl-font);
            }

            h3 {
                line-height: 1.5;
                font-weight: 500;
                color: $secondary;
                font-style: italic;

                @include font-size($xxl-font);
            }

            label {
                color: $white;
                font-weight: 900;
                margin-top: 30px;
                text-transform: uppercase;

                @include font-size($xxs-font);
            }

            .cover-quotes {
                bottom: 20%;
                line-height: 1.3;
                margin: 40px;
                color: $secondary;
                position: absolute;
                font-style: italic;

                @include font-size($xl-font);

                @media (min-width: map-get($breakpoints, lg)) {
                    left: 100px;
                    text-align: left;
                }
            }

            .mouse-wrap {
                left: 50%;
                width: 2px;
                top: 430px;
                height: 40px;
                content: "";
                position: absolute;
                display: inline-block;
                border: 2px solid #eee;
                @media (max-width: map-get($breakpoints, sm)) {
                    top: 500px;
                }
            }
        }
    }

    &.sand {
        height: 1450px;

        .pg-cover-bg {
            background-image: url("../../../html/img/sand.jpg");

            .cover-content {
                padding: 200px 40px;
            }
        }
    }

    &.sea {
        .pg-cover-bg {
            background-image: url("../../../html/img/sea.jpg");

            .cover-content {
                padding: 20px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                h2 {
                    color: $seagreen;

                    @include font-size($xxxl-font);
                }

                h3 {
                    color: $seagreen;
                    line-height: 1.5;
                    font-weight: 400;
                    font-style: italic;

                    @include font-size($xxl-font);
                }
            }
        }
    }
}
