@import "../../base/index";

.pg-cover {
    height: 100%;
    position: relative;

    // min-height: 500px;
    background-color: $black;

    .pg-cover-bg {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;

        .cover-content {
            margin: auto;
            text-align: center;

            h2 {
                color: $secondary;

                @include font-size($xxxl-font);
            }

            h3 {
                line-height: 1.5;
                font-weight: 500;
                color: $secondary;
                font-style: italic;

                @include font-size($xxl-font);
            }

            label {
                color: $white;
                font-weight: 900;
                margin-top: 30px;
                text-transform: uppercase;

                @include font-size($xxs-font);
            }

            .cover-quotes {
                bottom: 15px;
                line-height: 1.3;
                color: $secondary;
                position: absolute;
                font-style: italic;

                @include font-size($xl-font);

                @media (min-width: map-get($breakpoints, lg)) {
                    left: 100px;
                    width: 500px;
                    text-align: left;
                }
            }

            .mouse-wrap {
                left: 50%;
                top: 380px;
                position: absolute;
                display: inline-block;
            }
        }
    }

    &.sand {
        .pg-cover-bg {
            background-image: url("../../../html/img/sand.jpg");

            .cover-content {
                padding-top: 150px;
            }
        }
    }

    &.sea {
        .pg-cover-bg {
            background-image: url("../../../html/img/sea.jpg");

            .cover-content {
                padding-top: 150px;

                h2 {
                    color: $seagreen;

                    @include font-size($xxxl-font);
                }

                h3 {
                    color: $seagreen;
                    line-height: 1.5;
                    font-weight: 400;
                    font-style: italic;

                    @include font-size($xxl-font);
                }
            }
        }
    }
}
